{% extends 'app/home.html' %}

{% block title %}Data Calon Siswa | Sistem Informasi Penerimaan Siswa Baru SMK XXX{% endblock %}

{% block content_header %}DATA LENGKAP CALON SISWA{% endblock %}

{% block content %}
<section class="content invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-user"></i> {{ calon_siswa.nama_lengkap }}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td width="140px"><strong>Username</strong></td>
                    <td width="10px">:</td>
                    <td>{{ calon_siswa.user }}</td>
                </tr>
                <tr>
                    <td><strong>Nama Lengkap</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.nama_lengkap }}</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.user.email }}</td>
                </tr>
                <tr>
                    <td><strong>Agama</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.agama }}</td>
                </tr>
                <tr>
                    <td><strong>Nama Ayah</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.nama_ayah }}</td>
                </tr>
                <tr>
                    <td><strong>Nama Ibu</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.nama_ibu }}</td>
                </tr>
                <tr>
                    <td><strong>Alamat Orang Tua</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.alamat_orang_tua }}</td>
                </tr>
                <tr>
                    <td><strong>Alamat Calon Siswa</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.alamat_calon_siswa }}</td>
                </tr>
                <tr>
                    <td><strong>Sekolah</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.sekolah }}</td>
                </tr>
                <tr>
                    <td><strong>Nilai UN</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.nilai_un }}</td>
                </tr>
                <tr>
                    <td><strong>Nilai Ujian</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.nilai_ujian }}</td>
                </tr>
                <tr>
                    <td><strong>Nilai Akhir</strong></td>
                    <td>:</td>
                    <td>{{ calon_siswa.nilai_akhir }}</td>
                </tr>
            </table>
        </div>
    </div>
</section>
{% endblock %}
