{% extends 'app/home.html' %}

{% block title %}Detail{% endblock %}

{% block content_header %}Detail Content Header{% endblock %}

{% block content %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Box Title</h3>
    </div>

    <div class="box-body no-padding">
        {% if panitia %}
            {% include 'detail/detail_panitia.html' %}
        {% elif sekolah %}
            {% include 'detail/detail_sekolah.html' %}
        {% elif calon_siswa %}
            {% include 'detail/detail_calon_siswa.html' %}
        {% else %}
            <p>Data tidak ditemukan</p>
        {% endif %}
    </div>
</div>
{% endblock %}
