{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'app/css/datatables/dataTables.bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/AdminLTE.css' %}" />

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
        <header class="header">
            <a href="{% url 'home' %}" class="logo">
                CALON SISWA
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="{% url 'logout' %}">
                                <i class="glyphicon glyphicon-off"></i>
                                <span>Keluar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li>
                            <a href="{% url 'waktu_ujian' %}">
                                <i class="glyphicon glyphicon-time"></i> <span>Waktu Ujian</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'data_calon_siswa' %}">
                                <i class="glyphicon glyphicon-user"></i> <span>Data Calon Siswa</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'cetak_kartu_ujian' %}">
                                <i class="glyphicon glyphicon-print"></i> <span>Cetak Kartu Ujian</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </aside>

            <aside class="right-side">
                <section class="content-header">
                    <h1>
                        {% block content_header %} {% endblock %}
                    </h1>
                    <!--<ol class="breadcrumb">-->
                        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
                        <!--<li><a href="#">Examples</a></li>-->
                        <!--<li class="active">Blank page</li>-->
                    <!--</ol>-->
                </section>

                <section class="content">
                    {% block content %} {% endblock %}
                </section>
            </aside>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static 'app/js/datatables/jquery.dataTables.js' %}"></script>
        <script src="{% static 'app/js/datatables/dataTables.bootstrap.js' %}"></script>
        <script src="{% static 'app/js/AdminLTE.js' %}"></script>
        <script type="text/javascript">
            $(function() {
                $('#dataTables').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
        {% block extra_js %} {% endblock %}
    </body>
</html>
