{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Kartu Peserta Ujian</title>

    <style type="text/css">
        .layout {
            border: solid 3px black;
        }
        .layout td {
            border: solid 1px black;
        }
        .data {
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
            font-size: 24px;
        }
        .data td {
            border: 0px;
        }
        #foto-peserta {
            float: left;
            width: 120px;
            margin: 20px 20px 20px 70px;
        }
        #foto-peserta > img {
            width: 120px;
            height: 160px;
        }
        #logo-header {
            float: left;
            width: 100px;
            margin: 5px 10px 0px 10px;
        }
        #logo-header > img {
            width: 100px;
            height: auto;
        }
        #header {
            float: left;
            margin-left: 90px;
            margin-top: 0px;
        }
        #header > h2 {
            font-weight: bold;
            line-height: 10px;
            text-align: center;
        }
        #ttd {
            float: right;
            font-size: 20px;
            line-height: 10px;
            margin-top: 15px;
            margin-right: 50px;
            text-align: center;
        }
        #kepsek {
            margin-top: 75px;
        }
    </style>
</head>
<body>
    <table class="layout" width="700px">
        <tr>
            <td>
                <div id="logo-header">
                    <img src="{{ STATIC_ROOT }}app/img/tut_wuri_handayani_color.jpg">
                </div>
                <div id="header">
                    <h2>KARTU PESERTA UJIAN MASUK</h2>
                    <h2>{{ data_ujian.sekolah }}</h2>
                    <h2>TAHUN AJARAN 2015/2016</h2>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table class="data">
                    <tr>
                        <td>Nomor Ujian</td>
                        <td>:</td>
                        <td width="210px">{{ calon_siswa.id }}</td>
                        <td align="right">Tanggal Ujian</td>
                        <td>:</td>
                        <td align="right">{{ data_ujian.tgl_ujian }}</td>
                    </tr>
                    <tr>
                        <td>Nama</td>
                        <td>:</td>
                        <td colspan="4">{{ calon_siswa.nama_lengkap }}</td>
                    </tr>
                    <tr>
                        <td>Asal Sekolah</td>
                        <td>:</td>
                        <td colspan="4">{{ calon_siswa.sekolah }}</td>
                    </tr>
                </table>

                <div id="foto-peserta">
                    <img src="{{ STATIC_ROOT }}app/img/foto.jpg">
                </div>

                <div id="ttd">
                    <div id="tanggal">
                        <p>Bandung, {{ data_ujian.tgl_peresmian }}</p>
                        <p>Kepala Sekolah Penyelenggara</p>
                    </div>

                    <p id="kepsek">{{ data_ujian.kepsek }}</p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
