<style type="text/css">
    @page {
        size: {{ pagesize|default:"A4" }};
        margin-left: 2.5cm;
        margin-right: 2.5cm;
        margin-top: 2.5cm;
        margin-bottom: 2cm;

        @frame header {
            -pdf-frame-content: page-header;
            margin-top: 0.7cm;
            margin-right: 2mm;
            margin-bottom: 0cm;
            margin-left: 1.2cm;
        }

        @frame footer {
            -pdf-frame-content: page-footer;
            bottom: 0cm;
            margin-left: 1cm;
            margin-right: 1cm;
            height: 1cm;
        }
    }
</style>

{% block content %}
<table class="table table-responsive" border="0.2">
    <thead>
        <tr>
            <th>No.</th>
            <th>Nama Lengkap</th>
            <th>Alamat Calon Siswa</th>
            <th>Sekolah</th>
            <th>Nilai UN</th>
            <th>Nilai Ujian</th>
            <th>Nilai Akhir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">1</td>
            <td>Nama Lengkap</td>
            <td>Alamat</td>
            <td>Sekolah</td>
            <td align="right">Nilai UN</td>
            <td align="right">Nilai Ujian</td>
            <td align="right">Nilai Akhir</td>
        </tr>
    </tbody>
    <!--<tbody>-->
    <!--{% for calon_siswa in semua_calon_siswa %}-->
        <!--<tr>-->
            <!--<td align="center">{{ forloop.counter }}</td>-->
            <!--<td>{{ calon_siswa.nama_lengkap }}</td>-->
            <!--<td>{{ calon_siswa.alamat_calon_siswa }}</td>-->
            <!--<td>{{ calon_siswa.sekolah }}</td>-->
            <!--<td align="right">{{ calon_siswa.nilai_un }}</td>-->
            <!--<td align="right">{{ calon_siswa.nilai_ujian }}</td>-->
            <!--<td align="right">{{ calon_siswa.nilai_akhir }}</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
</table>
{% endblock %}
