{% extends 'app/home.html' %}

{% block title %}Undangan Ujian Tulis | Sistem Informasi Penerimaan Siswa Baru SMK XXX{% endblock %}

{% block content_header %}UNDANGAN UJIAN TULIS{% endblock %}

{% block content %}
<section class="content invoice">
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                <li>
                    <i class="fa fa-calendar bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header">Hai {{ calon_siswa.nama_lengkap }}</h3>
                        <div class="timeline-body">
                            <p>Sebelumnya kami ucapkan terimakasih karena telah mendaftar di {{ data_ujian.sekolah }}.
                            Berikut kami sertakan tata cara pelaksanaan ujian serta waktu pelaksanaannya:</p>
                            <dl class="dl-horizontal">
                                <dt>Tempat</dt>
                                <dd>{{ data_ujian.alamat_sekolah }}</dd>
                                <dt>Waktu</dt>
                                <dd>{{ data_ujian.tgl_ujian }}</dd>
                            </dl>
                            <p>Peserta ujian diharapkan untuk datang 30 menit lebih awal untuk mencari terlebih dahulu
                            ruangan yang akan digunakan. Peralatan yang diwajibkan untuk dibawa adalah pensil, pulpen,
                            dan penghapus.</p>
                            <br/><br/>
                            <p align="right">Sukses selalu,<br/>
                            {{ data_ujian.kepsek }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
