{% extends 'registration/registrasi.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Registrasi | Sistem Informasi Penerimaan Siswa Baru SMK XXX{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="form-box bg-white" id="login-box">
    <div class="header">Registrasi Calon Siswa</div>

    <form action="" method="post">{% csrf_token %}
        <div class="body bg-white">
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form|crispy }}
            {% endif %}
            </table>

            {% if wizard.steps.prev %}
            <button class="btn bg-navy btn-block" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev Step" %}</button>
            <button class="btn bg-navy btn-block" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First Step" %}</button>
            {% endif %}

            <br/>
            <input class="btn bg-olive btn-block" type="submit" value="{% trans "Submit" %}"/>
            <table width="100%">
                <tr>
                    <td align="left"><a href="{% url 'login' %}" class="text-center"><u>{% trans "Log in" %}</u></a></td>
                </tr>
            </table>
        </div>
    </form>
</div>
{% endblock %}
