{% extends 'registration/registrasi.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Log In | Sistem Informasi Penerimaan Siswa Baru SMK XXX{% endblock %}

{% block content %}
<div class="form-box bg-white" id="login-box">
    <div class="header">Log In</div>

    <form action="{% url 'login' %}" method="post">{% csrf_token %}
        <div class="body bg-white">
            {{ form|crispy }}
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Log me in</button>
            <input type="hidden" name="next" value="{% url 'home' %}" />

            <table width="100%">
                <tr>
                    <td align="left"><a href="{% url 'register' %}" class="text-center"><u>Daftar Baru</u></a></td>
                    <td align="right"><a href="{% url 'password_reset' %}"><u>Lupa Password</u></a></td>
                </tr>
            </table>
        </div>
    </form>
</div>
{% endblock %}
