{% extends 'registration/registrasi.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Sent | Sistem Informasi Penerimaan Siswa Baru SMK XXX{% endblock %}

{% block header %}Password Reset Sent{% endblock %}

{% block content %}
<div class="center bg-white">
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-info"> 200</h2>
            <div class="error-content">
                <h3><i class="fa fa-check text-green"></i> Password reset berhasil dikirim.</h3>
                <p>
                    Kami telah mengirimkan email petunjuk untuk mereset password Anda.
                </p>
                <p>
                    Jika Anda tidak menerima email tersebut, pastikan Anda telah memasukkan alamat email Anda
                    dengan benar, dan periksa folder spam Anda.
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
